<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Email verified</p>
    <p>Thanks <%= email %></p>
  </body>
</html>
